@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(211, 224, 225);
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;   
}

h1{
    color: rgb(135, 92, 12);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1,5em;
    text-align: center;
    padding: 20px;
}

.container{
    display: flex;
    width: 400px;
    height: 250px;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(131, 171, 158);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(32, 30, 30, 0.681);
}

#empresa{
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 35px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.578);
}

#nome{
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 35px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.578);
}

#telefone{
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 35px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.578);
}

button{
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    background-color: rgba(72, 120, 67, 0.901);
    color: rgb(255, 253, 253);
}

button:hover{
    background-color: darkgreen;
}

#mensagem{
    color: red;
    font-size: 1.2em;
}

#cardFinal{
    display: flex;
    width: 400px;
    height: 250px;
    margin: 10px;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(115, 155, 142);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(32, 30, 30, 0.681);
    font-family: Arial, Helvetica, sans-serif;
    color: blue;

}

#cardEmpresa{
    font-size: 2em;
}
#cardNome{
    padding: 25px;
    font-size: 2em;
}
#cardNumero{
    padding-bottom: 15px;
    font-size: 1.5em;
}