@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-flow: row wrap;
    background-color: darkgray;
    align-items: center;
    justify-content: center;
}